$green:#C8FF5D;
$pink:#FF2D61;
$sunset:#FD713E;
$fire:#E85821;
$gold:#E8CF3B;

*{
  margin: 0 auto;
}
body{
  margin-left: 12px;
  margin-right: 12px;
  background-color: #FAFAFA;
}

.app {
  text-align: center;

}
// directory
.directory{

}
//_____________Nav Bar
.selected{
  color:green;
  font-weight:bold;
  font-size:1.1em;

}
//_____________filter forms
.filters{
padding-left: 32px;
  .type-filter{
    position:relative;
    padding-bottom:8px;
    height:50px;
  }
    .filter-button{
      text-align: center;
      font-size: 1em;
      background-color: #F5F4F4;
      color:black;
      height:45px;
      box-shadow: none;
      border-radius: 30px;
      border:0.5px solid #ccc;
      margin-left: -32px;
      width:120px;

    }
    .filter-button:focus{
      box-shadow: none;
      outline: none;
      border:0.5px solid #ddd;
    }
    .active{
      background-color: #C8FF5D;
      outline: none;
      border: none;
      z-index: 5;

    }
    .red{
      color:red
    }
}
// _____________directory-grid
.container{
  width: 100%;
  // background-color: black;

}
.directory-grid{
  display:grid;
  grid-template-columns: 300px 300px 300px;
  grid-auto-rows: 300px;
  grid-gap: 12px;
  justify-content: center;
  .testing{
    background-color: black;
    width:100%;height:100%;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    h1{
      // display:none;
      color:white;
      z-index: 3;
      position: absolute;
      font-size:2.8em;
      opacity: 0;
      align-self: center;

    }
    .inside-testing{
      position: absolute;
      width:100%;height:100%;
      // background-color: black;
      background-image:url('./images/second_sun.jpg');
      background-size:cover;
      background-position:center;
      z-index: 1;
      color:white;
      display: flex;
      align-items: center;
      opacity: 1;
      transition:  opacity 1s;
    }

  }
  .inside-testing:hover{
    opacity: 0;
    transition:  opacity 0.2s;
  }
  .testing:hover{
    h1{
      color:white;
      opacity: 1;
      pointer-events: none;
    }
  }
}
// _____________profile
.profile-container{
  margin: 0 auto;

  display: flex;
  padding-bottom:16px;
  .profile-left{
    width:300px;
    .profile-image{
      padding-top:12px;
      border-width:0;
      height: 300px;width:300px;
      img{
        height: 100%;width:100%;
        border-radius:8px;
        object-fit:cover;
      }
    }
    .profile-social-icons{
      padding-top:16px;padding-bottom:16px;
      display: flex;
      justify-content:flex-start;
      .profile-social{
        height: 42px;min-width:42px;
      }
    }
    .profile-contact-info{
      padding-top:16px;padding-bottom:16px;
      text-align:left;
      .profile-email{
        list-style:none;
      }
      .profile-phone{
        list-style:none;
      }
      .profile-person{
        list-style:none;
      }
    }
  }

  .profile-body{
    padding:12px 12px 0px;
    width:60%;
    .profile-title{
      height: 30px;
    }
    .profile-bio{
      min-height:270px;
      p{
        // // min-height:257px;
        // height:100%;
        // line-height: 18px;//15 lines max
        // overflow:hidden;
        // text-align:justify;
        // padding:12px;
      }
    }
    .more-button{
      height:30px;width: 60px;
      margin: 0 0 0 12px;
      font-weight: bold;
      font-family:cursive;
      font-size: 1.2em;
      color:blue;
      text-align: left;
      padding-left: 20px;
      border:1px solid blue;
      cursor:pointer;
    }
    .profile-react-player{
      margin-top:18px;

    }
  }
  .profile-right{
    width:105px;
    .profile-tag{
      margin-top:8px;
      height:32px;
      width:80%;
      border-radius: 16px;
      background-color:#D4FC76;
    }
  }
}
*{
  // border: 1px solid blue;
}
