.ProfileCreate{
  display:flex;
  .MusicainProfile{
    margin-right: 24px;
    width: 100%;
  }
}


.form-musician{
  margin-left: 0;
  margin-right: 0;
  max-width: 300px;
  padding: 12px;
  text-align: left;
  border: 1px solid #282C34;

  div{
    padding-bottom:8px;
  }
}
.form-musician:hover{
  form{
    // opacity: 0;
  }
  // width:20px;
}
.dropzone{
}
